<template>
<v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <material-card
                color="blue"
                title="Shop Artikelsuche"
        >
          <v-form>
            <v-container py-0>
              <v-layout wrap>
                <v-flex
                        xs9
                        md9
                        lg9
                >
                  <v-text-field
                          class="purple-input"
                          label="Artikel"
                          v-model.trim ="itemName"

                  />
                </v-flex>
                <v-flex
                        xs3
                        text-xs-right
                >
                  <v-btn
                          class="font-weight-bold mb-5"
                          color="blue"
                          @click="getItemByName"

                  >
                    Suchen
                  </v-btn>
                </v-flex>
                <v-flex xs9 md9 lg9 v-if="getItems.length >0">
                  <material-card

                          color="blue lighten-1"
                          class="black--text mb-5"
                  >
                    <v-data-table
                            :headers="headersSearch"
                            :items="getItems"
                            hide-actions
                    >
                      <template
                              slot="headerCell"
                              slot-scope="{ header }"
                      >
              <span
                      class="subheading font-weight-light text-success text--darken-3 black--text"
                      v-text="header.text"

              />
                      </template>
                      <template
                              slot="items"
                              slot-scope="{ item }"
                      >
                        <td class="text-xs-left text-sm-left">{{ item.texts[0].name1 }}</td>
                        <td>
                          <v-btn
                                  class="font-weight-bold"
                                  color="blue"
                                  @click="saveItem(item)"

                          >
                            speichern
                          </v-btn>
                        </td>
                      </template>
                    </v-data-table>
                  </material-card>
                </v-flex>

              </v-layout>
            </v-container>
          </v-form>
        </material-card>
        <material-card
          color="green"
          title="Artikelliste"
        >
          <v-data-table
            :headers="headers"
            :items="getItemList"
            hide-actions
          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
            <template
              slot="items"
              slot-scope="{ item }"
            >
              <td>{{ item.artnr }}</td>
              <td>{{ item.item_id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
              <td><a style="cursor: pointer" :href="'https://__DOMAIN__/' + item.url +'/a-' + item.item_id" target="_blank">Zum Produkt</a></td>
                <td>
                    <v-btn
                            class="font-weight-bold"
                            color="blue"
                            @click="removeItem(item)"

                    >
                        Entfernen
                    </v-btn>
                </td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
      <v-flex
        md12
      >
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  data: () => ({
    headers: [
        {
          sortable: true,
          text: 'Artikelnummer',
          value: 'number'
        },
        {
            sortable: true,
            text: 'Artikel-ID',
            value: 'id'
        },
        {
          sortable: false,
          text: 'Artikelname',
          value: 'name'
        },
        {
            sortable: true,
            text: 'Preis',
            value: 'price'
        },

        {
            sortable: true,
            text: 'Link',
            value: 'link'
        },

        {
            sortable: true,
            text: 'Aktion',
            value: 'action'
        },
      ],

      headersSearch: [
        {
            sortable: true,
            text: 'Artikel',
            value: 'number'
        },
        {
            sortable: false,
            text: 'Aktion',
            value: 'desc'
        },
    ],

      itemName: '',
   }),

    methods: {

        getItemByName() {
            if(this.itemName.length > 2) {
                this.$store.dispatch('loadItemByName', this.itemName)
            }
        },

        saveItem(item) {
            this.$store.dispatch('saveItem', item.id)
            this.$store.dispatch('removeItemFromList', item)
            this.$store.dispatch('loadItemList')
        },

        removeItem(item) {
            this.$store.dispatch('removeItem', item)
        },
    },

    created() {

        this.$store.dispatch('loadItemList')
    },

    computed: {
        ...mapGetters([
            'getItems','getItemList'
        ]),
    }

}
</script>
