<template>
    <div>
        <v-layout>
            <v-flex
                    sm6
                    xs12
                    md6
                    lg3
            >
                <v-container >
                    <span class="justify-center" style="font-size: 40px">{{ orderTime }}</span>
                </v-container>
            </v-flex>
        </v-layout>

      <v-container
        fill-height
        fluid
        grid-list-xl
      >
        <v-layout wrap>
          <v-flex
            sm6
            xs12
            md6
            lg3
          >
        <v-card color="green darken-2" class="white--text">
            <v-container fill-height fluid>
              <v-layout fill-height>
                <v-flex xs12 align-end flexbox>
                  <span class="headline">Warten auf Zahlung</span>
                </v-flex>
              </v-layout>
            </v-container>
          <v-card-title class="justify-center">
            <div>
                <img v-if="typeof orderShipped === 'undefined'" src="/img/ajax-loader.gif"/>
              <span v-else class="white--text text-lg-center" style="font-size: 60px;font-weight: bold"> {{ orderPayment }}</span><br>
            </div>
          </v-card-title>
        </v-card>
      </v-flex>
        <v-flex
                sm6
                xs12
                md6
                lg3

        >
            <v-card color="green darken-2"  class="white--text">
                <v-container fill-height fluid>
                    <v-layout fill-height>
                        <v-flex xs12>
                            <span class="headline">Freigabe Versand	</span>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-card-title class="justify-center">
                    <div>
                        <img v-if="typeof orderShipped === 'undefined'" src="/img/ajax-loader.gif"/>
                        <span v-else class="white--text justify-center" style="font-size: 60px;font-weight: bold">{{ orderShipped }}</span><br>
                    </div>
                </v-card-title>
            </v-card>
        </v-flex>
        <v-flex
                sm6
                xs12
                md6
                lg3
        >
            <v-card color="green darken-2" class="white--text">
                <v-container fill-height fluid>
                    <v-layout fill-height>
                        <v-flex xs12 align-end flexbox>
                            <span class="headline">Gerade im Versand</span>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-card-title class="justify-center">
                    <div>
                        <img v-if="typeof orderShipped === 'undefined'" src="/img/ajax-loader.gif"/>
                        <span v-else class="white--text text-lg-center" style="font-size: 60px;font-weight: bold"> {{ orderShippedNow}}</span><br>
                    </div>
                </v-card-title>
            </v-card>
        </v-flex>
        <v-flex
                sm6
                xs12
                md6
                lg3
        >
            <v-card color="green darken-2" class="white--text">
                <v-container fill-height fluid>
                    <v-layout fill-height>
                        <v-flex xs12 align-end flexbox>
                            <span class="headline">Warenausgang geb.</span>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-card-title class="justify-center">
                    <div>
                        <img v-if="typeof orderShipped === 'undefined'" src="/img/ajax-loader.gif"/>
                        <span v-else class="white--text text-lg-center" style="font-size: 60px;font-weight: bold"> {{ orderWarehouse }}</span><br>
                    </div>
                </v-card-title>
            </v-card>
        </v-flex>

        <v-flex
            sm6
            xs12
            md6
            lg3
    >
        <v-card color="blue darken-2" class="white--text">
            <v-container fill-height fluid>
                <v-layout fill-height>
                    <v-flex xs12 align-end flexbox>
                        <span class="headline">Warten auf Zahlung außer Vorkasse </span>
                    </v-flex>
                </v-layout>
            </v-container>
            <v-card-title class="justify-center">
                <div>
                    <img v-if="typeof orderShipped === 'undefined'" src="/img/ajax-loader.gif"/>
                    <span v-else class="white--text text-lg-center" style="font-size: 60px;font-weight: bold"> {{ orderWithoutPrepayment }}</span><br>
                </div>
            </v-card-title>
        </v-card>
    </v-flex>
        <v-flex
                sm6
                xs12
                md6
                lg3
        >
            <v-card color="blue darken-2" class="white--text">
                <v-container fill-height fluid>
                    <v-layout fill-height>
                        <v-flex xs12 align-end flexbox>
                            <span class="headline">Warten auf Zahlung Zahlart Vorkasse </span>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-card-title class="justify-center">
                    <div>
                        <img v-if="typeof orderShipped === 'undefined'" src="/img/ajax-loader.gif"/>
                        <span v-else class="white--text text-lg-center" style="font-size: 60px;font-weight: bold"> {{ orderPrepayment }}</span><br>
                    </div>
                </v-card-title>
            </v-card>
        </v-flex>
        <v-flex
                sm6
                xs12
                md6
                lg3
        >
            <v-card color="blue darken-2" class="white--text">
                <v-container fill-height fluid>
                    <v-layout fill-height>
                        <v-flex xs12 align-end flexbox>
                            <span class="headline">Bestellungen mit Gutschrift</span>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-card-title class="justify-center">
                    <div>
                        <img v-if="typeof orderShipped === 'undefined'" src="/img/ajax-loader.gif"/>
                        <span v-else class="white--text text-lg-center" style="font-size: 60px;font-weight: bold"> {{ orderCredit }}</span><br>
                    </div>
                </v-card-title>
            </v-card>
        </v-flex>
        <v-flex
                sm6
                xs12
                md6
                lg3
        >
            <v-card color="blue darken-2" class="white--text">
                <v-container fill-height fluid>
                    <v-layout fill-height>
                        <v-flex xs12 align-end flexbox>
                            <span class="headline">Bestellungen mit Expressversand</span>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-card-title class="justify-center">
                    <div>
                        <img v-if="typeof orderShipped === 'undefined'" src="/img/ajax-loader.gif"/>
                        <span v-else class="white--text text-lg-center" style="font-size: 60px;font-weight: bold"> {{ orderExpress }}</span><br>
                    </div>
                </v-card-title>
            </v-card>
        </v-flex>
    </v-layout>
  </v-container>
</div>
</template>

<script>

import { mapGetters  } from 'vuex'

export default {
  data () {
    return {
     polling: null,


    num: {}
    }
  },
    methods: {

       pollData () {
            this.polling = setInterval(() => {
                this.$store.dispatch('loadOrders')
            }, 15000)
        }
    },

    created() {
        this.pollData()
    },

    computed: {
        ...mapGetters([
            'orderPayment',
            'orderCredit',
            'orderPrepayment',
            'orderWithoutPrepayment',
            'orderShipped',
            'orderShippedNow',
            'orderTime',
            'orderWarehouse',
            'orderExpress'
        ]),
    },

    beforeDestroy () {
        clearInterval(this.polling)

    }

}
</script>
