<template>
    <v-container
            fill-height
            fluid
            grid-list-xl
    >
        <v-layout
                justify-center
                wraps
        >
            <v-flex
                    md12
            >
                <material-card
                        color="green"
                        title="Referrers"
                >
                    <v-switch v-for="(v, i) in getRefs"
                              :key="i"
                              :label="v.name"
                              v-model="v.is_active"
                              @change="setActive(v.id, $event)"></v-switch>
                </material-card>


            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>

  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'StatisticsSetting',

    data: () =>({
      selected: []
    }),

    methods: {
        ...mapActions(['setActiveReferrer']),

        setActive (id, $event) {
          this.$store.dispatch('setActiveReferrer', {id:id, isactive: $event === true ? 1:0 })
        }
    },

    created() {
        this.$store.dispatch('loadRefs')
    },

    computed: {
    ...mapGetters([
      'getRefs'
    ]),
    }
  }
</script>

<style scoped>

</style>
